extends layout

block content

  h1 cart Page
  if user
    if cart.length
      .panel(role='tabpanel' id='products' class='panel-default panel-dashboard active')
        .panel-body.dashboard-table
          table.table.table-striped
            thead
              tr
                th Produit
                th Catégorie
                th tags
                th Infos
                th Prix
              each product in cart
                tr
                  td= product.title
                  td= product.category
                  td= product.tags
                  td= product.content
                  td= product.price
    else
      p Votre panier est vide
