extends layout

block content

  .panel.panel-default
    .panel-heading
      h3.panel-title Dashboard
    .panel-body.dashboard-table
      table.table.table-striped
        thead
          tr 
            th Publié
            th Produit
            th Ajouté le
            th Quantité
            th Catégorie
            th Tags
            th
        each product in products
          tr(data-id='#{product._id}')
            td
              input(type='checkbox' name='status-checkbox' data-id='#{product._id}' data-published='#{product.published}' data-size='mini' data-on-text="Oui" data-off-text="Non" data-on-color="success" data-off-color="danger" checked=product.published ? '' : checked)
            td= product.title
            td= moment(product.created_at).format('DD/MM/YYYY')
            td= product.quantity
            td= product.category
            td 
              each tag in product.tags
                p.tag-column= tag
            th 
              a(href='/products/#{product._id}?mode=edit' class='btn btn-sm btn-primary') Éditer
              a(href='/api/products/#{product.id}' class='btn btn-sm btn-danger')
                span.glyphicon.glyphicon-refresh Supprimer
                   