extends layout

block content

  ul#dashboard-tabs.nav.nav-tabs
    li(role='presentation' class='active')
      a(href='#products' data-toggle='tab') Produits
    li(role='presentation')
      a.js-panel-dashboard(href='#history' data-toggle='tab') Commandes
  .panel(role='tabpanel' id='products' class='panel-default panel-dashboard active')
    .panel-body.dashboard-table
      a(href='/products/add' class='btn btn-lg btn-success') Ajouter Produit
      table.table.table-striped
        thead
          tr
            th Publié
            th Produit
            th Ajouté le
            th Quantité
            th Catégorie
            th Tags
            th
        each product in products
          tr(data-id='#{product._id}')
            td.status
              input(type='checkbox' name='status-checkbox' data-id='#{product._id}' data-published='#{product.published}' data-size='mini' data-on-text="Oui" data-off-text="Non" data-on-color="success" data-off-color="danger" checked=product.published ? '' : checked)
            td= product.title
            td= moment(product.created_at).format('DD/MM/YYYY')
            td= product.quantity
            td= product.category
            td
              each tag in product.tags
                p.tag-column= tag
            th
              a(href='/products/#{product._id}?mode=edit' class='btn btn-sm btn-primary') Éditer
              a(href='/api/products/#{product.id}' class='btn btn-sm btn-danger')
                span.glyphicon.glyphicon-refresh Supprimer

  .panel(class='panel-default panel-dashboard' id='history' role='tabpanel')
    .panel-body.dashboard-table
      table.table.table-striped
        thead
            tr
              th Num&eacute;ro de commande
              th Email du Client
              th Prix total
              th Finalisée
          tbody.js-history-infos


