extends layout

block content

  .panel.panel-default
    .panel-heading
      h3.panel-title Éditer Produit
    .panel-body.edit-form
      form(id='edit-form' enctype='multipart/form-data' method='post')
        .form-group
              label(class='control-label') Photo
              input(type='file' id='photo-input' class='file' name='productPhoto')
        .form-group
          label Titre
          input(type='text' class='form-control' name='title' placeholder='Titre' value='#{product.title}')
        .form-group
          label Description
          input(type='text' class='form-control' name='content' placeholder='Description' value='#{product.content}')
        .form-group
          label Quantité
          input(type='text' class='form-control' name='quantity' placeholder='Quantité' value='#{product.quantity}')
        .form-group
          label Prix
          input(type='text' class='form-control' name='price' placeholder='Prix' value='#{product.price}')
        .form-group
          label Catégorie
            .radio
              label Lasers
                input(type='radio' class='category' name='category' value='lasers' checked='#{product.category}' == 'Lasers' ? '' : checked)
            .radio
              label Casques
                input(type='radio' class='category' name='category' value='helmets' checked='#{product.category}' == 'Helmets' ? '' : checked)
        .form-group
          label Tags
            .checkbox
              label Alliance
                input(type='checkbox' class='tag' name='tag1' value='alliance' checked='#{product.tags[0]}' ? '' : checked)
            .checkbox
              label Empire
                input(type='checkbox' class='tag' name='tag2' value='empire' checked='#{product.tags[1]}' ? '' : checked)
            .checkbox
              label Jedi
                input(type='checkbox' class='tag' name='tag3' value='jedi' checked='#{product.tags[2]}' ? '' : checked)
      a(href='/api/products/#{product._id}' class='btn btn-sm btn-primary btn-edit') Éditer
